/* App.css */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Основные стили для навигации */
.navbar {
  background-color: #0033A0; /* Темно-синий фон */
}

.nav-link {
  color: #FFFFFF; /* Белый цвет текста */
  transition: color 0.3s ease; /* Плавный переход цвета текста */
}

.nav-link:hover {
  color: #FFD700; /* Цвет при наведении (золотой) */
}

.btn-outline-light {
  border-radius: 20px; /* Закругленные углы кнопки */
  transition: background-color 0.3s ease, color 0.3s ease; /* Плавный переход цвета */
}

.btn-outline-light:hover {
  background-color: #FFD700; /* Цвет фона при наведении (золотой) */
  color: #0033A0; /* Цвет текста при наведении (темно-синий) */
}

/* Стили для логотипа */
.logo {
  border-radius: 50%; /* Полное закругление */
  overflow: hidden; /* Скрытие лишнего содержимого */
}

/* Закругленные углы для поля ввода */
.form-control {
  border-radius: 20px; /* Закругленные углы поля ввода */
}
.content {
  padding-top: 56px; /* Высота навигационной панели */
}
.carousel-item {
  height: 100vh; /* Высота карусели равна высоте экрана */
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Сохраняет пропорции изображения, обрезая лишнее */
}


/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .navbar {
    text-align: center; /* Центрирование текста для мобильных устройств */
  }

  .nav-link {
    padding: 10px 20px; /* Увеличение отступов для ссылок */
  }
}
/* Стили для компонента ContactCircle */
.contact-circle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #4caf50;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-form {
  position: absolute;
  bottom: 80px;
  right: 0;
  width: 250px;
  padding: 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-form input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  width: 100%;
  padding: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  font-size: 12px;
}
